NODE_ENV=development
PORT=3000
DATABASE_URL=postgresql://wex_user:wex_password@localhost:5432/wex_db?schema=public
TREASURY_API_BASE_URL=https://api.fiscaldata.treasury.gov/services/api/fiscal_service